<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ログイン画面</title>
	<!-- リセットCSSを読み込む処理を記述 -->
	<link rel="stylesheet" href="../static/reset.css">
	<!-- cssファイルを読み込む処理を記述 -->
	<link rel="stylesheet" href="../static/login.css">

</head>

<main>

	<!-- -- -- -- -- -- --【ヘッダー】-- -- -- -- -- -- -->
	<header>
		<img src="../static/picture/DL.png">
		<h1>JavaTeamDeveropment</h1>
	</header>

	<!-- -- -- -- -- -- --【ログイン画面】-- -- -- -- -- -- -->

	<div class="LoginForm">
		<h1>ログイン</h1>



		<form th:action="@{/login}" method="post" th:object="${loginForm}">
			<table>
				<tr>
					<th><label>UserID</label></th>
					<td><input class="write" type="text" th:field="*{loginId}"></td>
				</tr>
				<tr>
					<th><label>PassWord</label></th>
					<td><input class="write" type="password" th:field="*{password}"></td>
				</tr>
			</table>



			<input class="button" type="submit" value="登録">

		</form>
		<a class="subscription" href="subscribe.html">新規会員登録はこちら</a>

	</div>



</main>
</body>

</html>