<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ログイン画面</title>
	<!-- リセットCSSを読み込む処理を記述 -->
	<link rel="stylesheet" href="reset.css">
	<!-- cssファイルを読み込む処理を記述 -->
	<link rel="stylesheet" href="">
</head>
<body>
	<!-- -- -- -- -- -- --【ヘッダー】-- -- -- -- -- -- -->
	<header>
		<img src="driveline.png">
		<h1>JavaTeamDeveropment</h1>
	</header>
	
	<h1></h1>

</body>
</html>